.u-section-1 .u-sheet-1 {
    min-height: 525px;
    margin-top: 75px;
    margin-bottom: -100px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    margin: 36px auto 0 370px;
    font-family: 'Mochiy Pop One', sans-serif;
  }
  
  .u-section-1 .u-image-1 {
    width: 570px;
    height: 428px;
    margin: -80px 0 0 auto;
  }
  
  .u-section-1 .u-text-2 {
    margin: -348px 570px 0 10px;
    font-family: 'Kosugi Maru', sans-serif;
  }
  
  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    font-weight: 700;
    margin: 21px 580px 0 0;
  }
  
  .u-section-1 .u-text-4 {
  
    font-size: 50px;
    font-weight: 700;
    text-align: center;
  }
  
  .u-section-1 .u-text-5 {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin-top: -100px;
   
  }
  
  
  @media (max-width: 1199px) {
    .u-section-1 .u-text-1 {
      width: auto;
      margin-left: 120px;
    }
  
    .u-section-1 .u-text-2 {
      width: auto;
      margin-left: -180px;
    }
  
    .u-section-1 .u-text-3 {
      margin-right: 380px;
    }
  
    .u-section-1 .u-text-4 {
      margin-right: 380px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-text-1 {
      margin-right: 0;
      margin-left: auto;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: 0;
      margin-left: 170px;
    }
  
    .u-section-1 .u-text-3 {
      margin-right: 160px;
    }
  
    .u-section-1 .u-text-4 {
      margin-right: 160px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 502px;
    }
  
    .u-section-1 .u-image-1 {
      width: 540px;
      height: 405px;
    }
  
    .u-section-1 .u-text-2 {
      margin-top: -325px;
      margin-left: 380px;
    }
  
    .u-section-1 .u-text-3 {
      margin-right: 0;
    }
  
    .u-section-1 .u-text-4 {
      margin-right: 0;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 573px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: auto;
    }
  
    .u-section-1 .u-image-1 {
      height: 255px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-text-2 {
      margin-top: 11px;
      margin-left: 5px;
      margin-right: 5px;
    }
  
    .u-section-1 .u-text-3 {
      width: auto;
      margin-top: 11px;
      margin-right: -85px;
      margin-left: 85px;
    }
  
    .u-section-1 .u-text-4 {
      width: auto;
      margin-top: 15px;
      margin-bottom: 45px;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 474px;
  }
  
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    font-weight: 700;
    margin: 20px auto 0 0;
    font-family: 'Kosugi Maru', sans-serif;
  }
  
  .u-section-2 .u-list-1 {
    grid-template-rows: auto;
    margin: 5px auto 5px 0;
  }
  
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
    grid-gap: 10px 10px;
    min-height: 396px;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-2 .u-image-1 {
    height: 213px;
    width: 213px;
    background-image: url("images/profile1.jpg");
    background-position: 50% 50%;
    margin: 0 auto;
  }
  
  .u-section-2 .u-text-2 {
    margin: 20px 0 0;
    font-family: 'Noto Sans JP', sans-serif;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-2 .u-image-2 {
    height: 213px;
    width: 213px;
    background-image: url("images/profile2.jpg");
    background-position: 50% 50%;
    margin: 0 auto;
  }
  
  .u-section-2 .u-text-3 {
    margin: 20px 0 0;
    font-family: 'Noto Sans JP', sans-serif;
  }
  
  .u-section-2 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-2 .u-image-3 {
    height: 213px;
    width: 213px;
    background-image: url("images/profile3.jpg");
    background-position: 50% 50%;
    margin: 0 auto;
  }
  
  .u-section-2 .u-text-4 {
    margin: 20px 0 0;
    font-family: 'Noto Sans JP', sans-serif;
  }
  
  .u-section-2 .u-container-layout-4 {
    padding: 30px;
  }
  
  .u-section-2 .u-image-4 {
    height: 213px;
    width: 213px;
    background-image: url("images/profile4.jpg");
    background-position: 50% 50%;
    margin: 0 auto;
  }
  
  .u-section-2 .u-text-5 {
    margin: 20px 0 0;
    font-family: 'Noto Sans JP', sans-serif;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-list-1 {
      height: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-image-1 {
      height: 165px;
      width: 165px;
    }
  
    .u-section-2 .u-image-2 {
      height: 165px;
      width: 165px;
    }
  
    .u-section-2 .u-image-3 {
      height: 165px;
      width: 165px;
    }
  
    .u-section-2 .u-image-4 {
      height: 165px;
      width: 165px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-text-1 {
      margin-top: 262px;
    }
  
    .u-section-2 .u-list-1 {
      margin-top: -237px;
      margin-bottom: 55px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-repeater-1 {
      grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 1234px;
    }
  
    .u-section-2 .u-text-1 {
      width: auto;
      margin-top: 20px;
      margin-left: auto;
    }
  
    .u-section-2 .u-list-1 {
      margin-top: 5px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  }.u-section-3 .u-sheet-1 {
    min-height: 522px;
  }
  
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    font-weight: 700;
    margin: 20px auto 0 20px;
  }
  
  .u-section-3 .u-list-1 {
    margin-top: 30px;
    margin-bottom: 60px;
  }
  
  .u-section-3 .u-repeater-1 {
    grid-gap: 10px 10px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 221px;
  }
  
  .u-section-3 .u-container-layout-1 {
    padding: 0;
  }
  
  .u-section-3 .u-text-2 {
    margin: 10px 10px 0;
  }
  
  .u-section-3 .u-text-3 {
    margin: 20px auto 0 10px;
  }
  
  .u-section-3 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin: 0 0 0 auto;
    padding: 0;
  }

  .team-section {
    text-align: left;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 4%;
  }
  .team-section .team-name{
    font-size: 75px;
    font-weight: bold;
    
    
  }
  
  .u-section-3 .u-container-layout-2 {
    padding: 0;
  }
  
  .u-section-3 .u-text-4 {
    margin: 10px 10px 0;
  }
  
  .u-section-3 .u-text-5 {
    margin: 20px auto 0 10px;
  }
  
  .u-section-3 .u-btn-2 {
    border-style: none;
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin: 0 0 0 auto;
    padding: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-repeater-1 {
      min-height: 182px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
      min-height: 792px;
    }
  
    .u-section-3 .u-repeater-1 {
      min-height: 471px;
    }
  }
  
  @media (max-width: 320px) {
    .u-section-1 .u-text .u-text-4 {
      font-size: 5.9vw;
    }
    
  }